html{
    background-color: #e7e5e5;
    font-family: Roboto;
    font-style: normal;
    color: #707070;
    font-weight: normal;
}

header{
    text-align: center;
}

#top{
    width: 100%;
    height: 120px;
}

#logo{
    height: 85px;
    position: absolute;
    top: 12px;
    left: 50px;
}

#cabecalho{
    color: #FFF;
    position: absolute;
    top: 0;
    left: 120px;
    right: 120px;
    padding-top: 35px;
}

body{
    text-align: center;
    background: none;
}

.botao{
    width: 150px;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background-color: #527AC8;
    border: none;
    border-radius: 15px;
    outline-style: none!important;
    margin: 20px;
  }

h2{
  padding: 15px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input[type=date]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input{
    width: 100%;
    max-width: 300px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    text-align: center;
    outline: none;
}

.modal-body input{
    max-width: 100%;
    margin: 10px auto;
}

.modal-footer{
    margin: 0 auto;
}

#sair{
    top: 20px;
    right: 20px;
    position: absolute;
}

.logoff{    
    width: 90px;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    color: #527AC8;
    background-color: #FFF;
    border: none;
    border-radius: 15px;
    outline-style: none!important;
    margin: 20px;
}

table, th, td {
    width: 100%;
    border: 1px solid lightgrey;
}

#historico{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;    
}

.coluna{
    width: 33%;
    text-align: center;
}

#tituloTabela{
    padding-right: 17px;
}

#tabela{
    max-height: 380px;
    display: block;
    box-sizing: border-box;
    overflow: auto;
}