#esquerda{
    float: left;
    width: 50%;
    position: relative;
}

#direita{
    float: right;
    width: 50%;
    position: relative;
}

#cadastrar{
  float: unset;
  margin-top: 350px;
  position: relative;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
h2{
  padding: 15px;
}